html, body {
  min-height: 100%;
  height: 100%; }
  html .wrapper, body .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -250px;
    padding: 0 0 250px; }

img {
  max-width: 100%; }

@media (min-width: 768px) {
  html, body {
    min-height: 100%;
    height: 100%; }
    html .wrapper, body .wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -151px;
      padding: 0 0 151px; } }
.bg-color-dark-blue {
  background-color: #0b2125; }

.bg-color-blue {
  background-color: #588395; }

.color-blue {
  color: #588395; }

.color-white {
  color: #fff; }

.margin-top-25 {
  margin-top: 25px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-25 {
  margin-bottom: 25px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.padding-top-bottom-25 {
  padding-bottom: 25px;
  padding-top: 25px; }

.padding-top-bottom-50 {
  padding-bottom: 50px;
  padding-top: 50px; }

.padding-top-bottom-100 {
  padding-bottom: 100px;
  padding-top: 100px; }

.inline-block {
  display: inline-block; }

.input-group {
  width: 100%; }
  .input-group input[type='text'],
  .input-group input[type='textarea'],
  .input-group input[type='email'],
  .input-group input[type='password'] {
    margin-bottom: 15px; }
  .input-group label input[type='checkbox'] {
    margin-right: 10px; }

.btn {
  border: none; }

.eyebrow {
  margin-bottom: 20px;
  font-size: 15.4px;
  font-weight: 200;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .eyebrow {
      font-size: 19.6px; } }

.navbar .navbar-brand {
  padding: 10px 15px 0px 15px; }
.navbar.hero {
  margin-bottom: 0px; }
.navbar .mobile-auth-btns {
  margin: 10px 10px 0 0; }
.navbar .nav .btn,
.navbar .nav button {
  color: #fff; }
  .navbar .nav .btn:hover,
  .navbar .nav button:hover {
    background-color: #747474;
    color: #fff; }
.navbar .nav.nav-ctas li {
  margin: 10px 0 0 10px; }
  .navbar .nav.nav-ctas li:first-child {
    margin-left: 0px; }
  .navbar .nav.nav-ctas li a {
    padding: 6px 12px; }

.list-group .list-group-item.active a {
  color: #fff; }

ul.horizonal {
  padding-left: 0px; }
  ul.horizonal li {
    float: none;
    margin-left: 0px; }
ul.unstyled {
  list-style: none; }

ol img,
ul img {
  margin: 10px 0px; }

@media (min-width: 768px) {
  ul.horizonal {
    padding-left: 0px; }
    ul.horizonal li {
      float: left;
      margin-left: 40px; }
      ul.horizonal li:first-child {
        margin-left: 0px; }
  ul.unstyled {
    list-style: none; } }
.footer {
  height: 250px;
  overflow: hidden; }
  .footer a {
    color: #fff; }

@media (min-width: 768px) {
  .footer {
    height: 151px;
    overflow: hidden; }
    .footer a {
      color: #fff;
      font-size: 14px; } }

body {
  color: #51534d;
}

.tab-content ol li {
  margin-bottom: 8px;
}

.tab-content h4 {
  margin-bottom: 10px;
}
