<footer>
    <div class='jumbotron bg-color-dark-blue footer'>
        <div class='container'>
            <div class='row'>
                <div class='col-xs-6 col-sm-8 col-md-8'>
                    <ul class='pull-left unstyled horizonal'>
                        <li>
                            <a href="http://www.vessel.io/features">Features</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}">Resources</a>
                        </li>
                        <li>
                            <a href='http://blog.vessel.io/'>Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{ site.baseurl }}js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}js/main.js"></script>