<header>
    <h1>Resources</h1>
    <p>Vessel Resources and Documentation</p>

    <p class="view"><a href="https://github.com/vesselio/resources">View the Project on GitHub <small>vesselio/resources</small></a></p>

    <ul>
      <li><a href="https://github.com/vesselio/resources/zipball/master">Download <strong>ZIP File</strong></a></li>
      <li><a href="https://github.com/vesselio/resources/tarball/master">Download <strong>TAR Ball</strong></a></li>
      <li><a href="https://github.com/vesselio/resources">View On <strong>GitHub</strong></a></li>
    </ul>
</header>