<div id='side-nav' class="side-nav">
    <ul class='list-group'>
        <li class="list-group-item {% if page.url == /getting-started %}active{% endif %}">
            <a href="/getting-started">Getting Started</a>
        </li>

        {% for category in site.categories %}
        <li class='list-group-item'>
            <a href='#{{ category[0] }}' class="accordion-toggle" data-toggle="collapse" data-parent="#side-nav">
                {% case category[0] %}
                    {% when 'api' %}
                        API
                    {% when 'vessel_command_center' %}
                        A/B Test
                    {% when 'use_cases' %}
                        Use Cases
                    {% else %}
                        category[0]
                {% endcase %}
            </a>
            <ul id='{{ category[0] }}' class='collapse unstyled'>
                {% for post in category[1] %}
                <li class='{% if page.url == post.url %}active{% endif %}'>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>