<div id='side-nav' class="side-nav">
    <ul class='list-group'>

        {% for post in site.categories.getting_started reversed %}
        <li class='list-group-item {% if page.url == post.url %}active{% endif %}'>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}

        <li class='list-group-item'>
            <a href='#vessel_command_center' class="accordion-toggle" data-toggle="collapse" data-parent="#side-nav">
                How to A/B test?
            </a>
            <ul id='vessel_command_center' class='{% if 'vessel_command_center' != page.categories[0] %}collapse{% else %}in{% endif %} nav nav-pills nav-stacked'>
                {% for post in site.categories.vessel_command_center reversed %}
                <li class='{% if page.url == post.url %}active{% endif %}'>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>

        <li class='list-group-item'>
            <a href='#api' class="accordion-toggle" data-toggle="collapse" data-parent="#side-nav">
                A/B testing APIs
            </a>
            <ul id='api' class='{% if 'api' != page.categories[0] %}collapse{% else %}in{% endif %} nav nav-pills nav-stacked'>
                {% for post in site.categories.api reversed %}
                <li class='{% if page.url == post.url %}active{% endif %}'>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>

        <li class='list-group-item'>
            <a href='#use_cases' class="accordion-toggle" data-toggle="collapse" data-parent="#side-nav">
                Use Cases
            </a>
            <ul id='use_cases' class='{% if 'use_cases' != page.categories[0] %}collapse{% else %}in{% endif %} nav nav-pills nav-stacked'>
                {% for post in site.categories.use_cases reversed %}
                <li class='{% if page.url == post.url %}active{% endif %}'>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>

        <li class='list-group-item'>
            <a href='#best_practices' class="accordion-toggle" data-toggle="collapse" data-parent="#side-nav">
                Best Practices
            </a>
            <ul id='best_practices' class='{% if 'best_practices' != page.categories[0] %}collapse{% else %}in{% endif %} nav nav-pills nav-stacked'>
                {% for post in site.categories.best_practices reversed %}
                <li class='{% if page.url == post.url %}active{% endif %}'>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>

        <li class='list-group-item'>
            <a href='#external_integration' class="accordion-toggle" data-toggle="collapse" data-parent="#side-nav">
               Beta Testing API's
            </a>
            <ul id='external_integration' class='{% if 'external_integration' != page.categories[0] %}collapse{% else %}in{% endif %} nav nav-pills nav-stacked'>
                {% for post in site.categories.external_integration reversed %}
                <li class='{% if page.url == post.url %}active{% endif %}'>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% for post in site.categories.downloads reversed %}
        <li class='list-group-item {% if page.url == post.url %}active{% endif %}'>
            <a href='{% post_url 2014-01-07-downloads %}'>
               Downloads
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
