<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} | Docs | Vessel</title>

    <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/monokai_sublime.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Vessel Documentation and Resources. The steps to execute an A/B test, best practices and use cases. How to integrate your app with our APIs." />
    <script src="{{ site.baseurl }}js/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>